{% if items|length > 0 %}
  <div class="flyntComponent" is="flynt-grid-posts-events-latest">
    <div class="container boxed">
      {% if preContent %}
        <div class="preContent">
          <h3>{{ preContent|e }}</h2>
        </div>
      {% endif %}
      <ul class="grid">
        {% for item in items %}
          <li class="grid-item grid-item--{{ item.category|lower }}">
            <div class="content">
              <a href="{{ item.link }}" class="content-link" title="{{ item.title }}">
                <div class="content-inner">
                  {% if item.datePostStart or item.datePostEnd or item.timetimePost %}
                    <div class="date paragraph">
                      {% if item.datePostStart %}<span>{{ item.datePostStart|date("d.m.Y")|e }} - </span>{% endif %}
                      {% if item.datePostEnd %}<span>{{ item.datePostEnd|date("d.m.Y")|e }}</span>{% endif %}
                      {% if item.timetimePost %}<span class="time">{{ item.timetimePost|date("g:i a")|e }}</span>{% endif %}
                    </div>
                  {% endif %}
                  <div class="title paragraph">{{ item.title|e }}</div>
                  <div class="intro paragraph">{{ item.introPost|e('wp_kses_custom') }}</div>
                </div>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
